<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>03CA10D61C2FC4A0F65B75A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0482D7FB19FD1E29BB69859C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0BB6A6D153C845DE7FA5A748</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>13B48040C43B6DCD99DAF7DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>23AFAE7F56309800283D8B8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2F820BA1B5797C0DAC20F2DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>33F39960B357CF38AC549876</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>36F31BAE2258EEA6D331FD16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3791CA2815533AFC53CC9FF0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>56F48BE53FF81E85D3047B32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63099D744349CA53F13FA322</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6BBE6A3D738CD456C99B906C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6FC3CA67C46F7012928BDDAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>720EE1BED31E5CBBF556DA44</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>79ECBEAE06545957DD733B82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E963538CD385D3493C3CF8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>983E6DE74BDF5E76E17A401F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3FDF742F73DAF29D94E7572</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5A405CA49F38144D760C52C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B602F64943C22607512606B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B6676B96EDC5E3EB1E5D2AE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B8BD035A8CF1F0E222AAE9E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0C5B6BC44D7473BA8E99E71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D1B97C25A1E9F467D77464E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E55BA66277616FC5F0456FEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7AA2027BC4B34CEEA4A8E59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F30206863E283F618474217D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
